@media (min-width: 576px) { 

}

@media (min-width: 768px) { 

}

@media (max-width: 992px) { 
    #sidebar-menu {
        left:-250px;
        width:0px;
    }
    .expanded-aside aside#sidebar-menu {
        left:0px;
        width: 250px;
    }
}
.collapsed-aside aside#sidebar-menu {
    left: -250px;
    width: 0px;
}

#sidebar-menu .sidebar-logo {
    height: 51px;
}
#main-nav {
    box-shadow: 0px 0px 5px 0px #333;
}
#main-nav .toggle-button {
    width: 60px;
    border-right: solid 1px rgba(0,0,0,.12);
}
#main-nav .toggle-button a {
    line-height: 0px;
    color: #333;
}
#main-nav .toggle-button a, #main-nav .toggle-button a i {
    width: 24px;
}
#main-nav .horizontal-menu-container {
    width: 100%;
}
#main-nav .user-menu-container {
    width: 105px;
}
aside#sidebar-menu {
    box-shadow: 0px 0px 5px 0px #333;
    position: relative;
    width: 250px;
}

#main-nav {
    height:56px;
}
#main-nav a.navbar-brand {
    padding-bottom: 0px;
    margin-right:0px;
}
#sidebar-menu {
    max-height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.app-body-container {
    overflow-y: auto;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,.12);
}
#app-body {
    width: 100%;
}
#app-body .content-header {
    height: 175px;
    color: #FFF;
    background:rgb(113, 66, 165);
}
#app-body .content-body {
    max-height: 100%;
    flex-grow: 1;
}

aside#sidebar-menu>ul .list-group-item > a {
    border-bottom: 1px solid rgba(0,0,0,.12);
    width: 100%;
    margin:0px;
    padding: 0.8rem;
    color: #333;
}
aside#sidebar-menu>ul {
    border-top: 1px solid rgba(0,0,0,.12);
}

aside#sidebar-menu>ul .list-group-item:hover {
    background: rgba(255, 255, 255, 0.27);
}
aside#sidebar-menu>ul .list-group-item:hover a {
    text-decoration: none;
}

aside#sidebar-menu .list-group-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0px;
    line-height: 1;
}
aside#sidebar-menu .list-group-item :first-child {
    margin-right: 0;
}
aside#sidebar-menu .sub-menu {
    background: rgba(181, 180, 180, 0.12);
}
aside#sidebar-menu .list-group-item ul {
    display: none;
}

aside#sidebar-menu .list-group-item.active-menu ul {
    display: block;
}

table.table .checkbox label .checkbox-decorator, table.table label.checkbox-inline .checkbox-decorator {
    top: 0px;
}

.card-tabs {
    box-shadow: inset 0px -3px 0px 0px #e0e0e0;
    padding-bottom: 1px;
}

.content-wrapper {
    max-height: 100%;
    overflow-y: auto;
}
.content-box {
    width: 100%;
    background: #FFF;
}
.content-body .container-fluid {
    position: relative;
    top: -89px;
}
.box-title {
    padding: 1.30rem!important;
    margin:0px;
}
.no-shadow {
    box-shadow: none;
}
.module-card .card:first-child {
    border-right: solid 1px #e6e6e6;
}